.app {
  text-align: center;
  .app-header{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: calc(10px + 2vmin);
      color: white;
      border: 2px solid black;
  }
}
  
@media (prefers-reduced-motion: no-preference) {
 
}
